<!DOCTYPE html PUBLIC >

<head>
<title>Archangel_Hospital</title>
<style>
  main{
    background-image: url("arch_angel1.jpg");
  }
</style>
<style type="text/css">

<!--
.style1 {
	font-size: xx-large;
	font-weight: bold;
}
-->
</style>
 <link href="button.css" rel="stylesheet" type="text/css" media="all">
 <style type="text/css">
<!--
.style2 {color: #FFFFFF}
body {
  background-image: url("arch_angel1.jpg");
	background-color: #000000;

}
.style3 {font-size: large}
.style4 {color: #FFFFFF; font-size: large; }
-->
 </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

  <label><img src="imgbin_medicine-staff-of-hermes-health-symbol-logo-png.png" alt="invalid link" name="logo" width="67" height="89" id="logo" /></label>
  <span class="style1 style2">Archangel Medical center</span>
  <a href="login_patient.php" class="btn-login">PATIENT</a>
  <a href="login_doctor.php" class="btn-doctor">DOCTOR</a>
  <a href="login3.php" class="btn-admin">ADMIN</a>
        
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p align="left" class="style2 style3">	Archangel&nbsp;Hospital is a place where the sick, injured and emergency case are taken for treatment. The doctors and nurses are readily available there for admitting and attending on their patients and nurses are very care fully. They are employed by the hospitals to nurse the sick back to heath.</p>
<p align="left" class="style4">In the nineteenth and the twenty century&rsquo;s medical science made remarkable progress and the cures for almost all the diseases were found. Both in the spheres of medicine and surgery the prolonged researches were rewarded with epoch-making achievements.</p>
<p align="left" class="style4">The dedicated teams of doctors and nurses delivers the&nbsp;message of hope to their patients in the hospitals. All over the world, hospitals are built to treat and cure thousands of the sick patients. As these hospitals, there are very well-equipped facilities and expert doctors. These hospitals are considered the best places for effective treatment.</p>
<p align="left" class="style4">The doctors and nurses works effortlessly in doing their duties to the patients.&nbsp;The atmosphere in the hospitals&nbsp;should be pleasant so the the patient can feel comfortable.The doctor and nurses every effort for save life of patient.</p>
<p align="left" class="style3"><span class="style2">However, some hospital doesn&rsquo;t provide the expected service to it&rsquo;s patients. They neglect their duties toward the patients. This should not happen. The&nbsp;doctors should always treats their patients with utmost care, considering their lives very precious</span>.</p>
<p align="center"><img src="archangel-michael-hospice-adults.jpg" alt="" name="hospital_img" width="700" height="467" id="hospital_img" /></p>
<p align="center">&nbsp;</p>
</body>
</html>
